*{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}

#principal{
    width: 600px;
    min-height: 50px;
    background-color: bisque;
    border-radius: 5px;
    margin: 40px auto;
    overflow: hidden;
}

.subapartado{
    width: 600px;
    min-height: 50px;
    background-color: burlywood;
}

article.titulo{
    width: 600px;
    height: 50px;
    background-color: lightgreen;
    border-bottom: 5px solid black;
    overflow: hidden;
}
p.titulo{
    margin: 15px;
    color: blue;
}
article.info{
    width: 600px;
    height: 0px;
    background-color: blue;
    overflow: hidden;
    transition: height 0.5s;
    
}
p.info{
    margin: 20px;
    text-align: center;
    color: greenyellow;
}

section.subapartado:hover article.info{
    height: 200px;
}