*{
    margin: 0px;
    padding: 0px;
}

/*Comentarios*/

body{
    width: 1000px;
    height: 800px;
    background-color: white;
    margin: auto;
}

header{
    width: 1000px;
    height: 200px;
    background-color: white;
}


#banner{
    margin: auto;
    margin-top: 10px;
    width: 1000px;
    height: 150px;
    background-color: rgb(228, 101, 101);
    float: left;
    position: relative ;
    border-radius: 8px ;
    text-align: center;
}

#logo{
    width: 150px;
    height: 33px;
    background-color: rgb(255, 255, 101);
    position: absolute;
    right: 10px;
    top: 60px;
    border-radius: 8px ;
    text-align: center;
}





.navegador{
    margin-top: 12px;
    border-radius: 9px;
    float: left;
    width: 700px;
    height: 600px;
    background-color: rgb(58, 113, 214);
    position: relative ;
    text-align: center;
}

.articulo{
    width: 670px;
    height: 480px;
    background-color: rgb(69, 202, 69);
    position: absolute;
    right: 15px;
    top: 40px;
    border-radius: 8px ;
    text-align: center;
}
.section{
    width: 640px;
    height: 119px;
    background-color: rgb(69, 202, 69);
    position: absolute;
    right: 15px;
    top: 40px;
    border-radius: 8px ;
    text-align: center;
}

.section2{
    width: 640px;
    height: 119px;
    background-color: rgb(175, 253, 175);
    position: absolute;
    right: 15px;
    top: 180px;
    border-radius: 8px ;
    text-align: center;
}

.section3{
    width: 640px;
    height: 119px;
    background-color: rgb(175, 253, 175);
    position: absolute;
    right: 15px;
    top: 320px;
    border-radius: 8px ;
    text-align: center;
}

.footer{
    width: 680px;
    height: 40px;
    background-color: rgb(255, 190, 239);
    position: absolute;
    right: 10px;
    top: 530px;
    border-radius: 8px ;
    text-align: center;
}



/*Aside*/


.aside{
    margin-left: 8px ;
    margin-top: 12px;
    border-radius: 9px;
    float: left;
    width: 292px;
    height: 600px;
    background-color: rgb(71, 190, 226);
    position: relative ;
    text-align: center;
}

.secciones{
    width: 265px;
    height: 100px;
    background-color: rgb(71, 190, 226);
    position: absolute;
    right: 10px;
    top: 45px;
    border-radius: 8px ;
    text-align: center;
}

.secciones2{
    width: 265px;
    height: 320px;
    background-color: rgb(175, 253, 175);
    position: absolute;
    right: 10px;
    top: 160px;
    border-radius: 8px ;
    text-align: center;
}




.footerpage{
    margin-top: 10px;
    width: 1000px;
    height: 50px;
    background-color: rgb(255, 190, 239);
    border-radius: 8px ;
    float: left;
    margin-bottom: 10px;
    text-align: center;
}


/*Formulario*/

#formulario{
    width: 220px;
    height: 280px;
    background-color: rgb(221, 201, 21);
    margin: 20px auto;
    border-radius: 30px;
    box-shadow: 15px 15px 10px rgb(46, 168, 15);
}

#titulo{
    font-size: 1.6em;
    text-align: center;
    margin-top: 20px;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"]{

    width: 180px;
    margin-top: 9px;
    height: 30px;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 1.1em;
    border-radius: 20px;
    background-color: rgb(237, 248, 83);
    outline: none;
    border: 0px;
}

input[type="submit"]{
    width: 150px;
    margin-top: 10px;
    height: 30px;
    margin-left: 10px;
    border-radius: 40px;
    background-color: rgb(59, 95, 38);
    color: rgb(68, 248, 158);
    border: 0px;
    outline: none;
    box-shadow: 5px 5px 5px rgb(0, 41, 12);
    margin-bottom: 30px;
}

input[type="submit"]:hover{
    background-color:rgb(236, 148, 47) ;
    color: rgb(2, 0, 0);
    cursor: pointer;
}

input[type="submit"]:focus{
    box-shadow: 2px 2px 2px black;
}

/*Contenedor*/

ul, p{
    margin: 0px;
}

.secciones{
    width: 180px;
    height: 40px;
    color: rgb(22, 21, 1);
    font-size: 40px;
    margin: auto;
    top: 0px;
    bottom: 450px;;
    left: 0;
    right: 0;
    position: absolute;
    line-height: 40px;
    display: flex;
    overflow: hidden;
    font: oblique bold 120% cursive;
    font-size: 1.8em;
    
}

ul{
    padding-left: 10px;
    list-style: none;
    animation: cambiar 7s infinite;
}

@keyframes cambiar {

    0%{margin-top: 0px;}
    25%{margin-top: 0px;}

    25%{margin-top: -40px;}
    50%{margin-top: -40px;}

    50%{margin-top: -80px;}
    80%{margin-top: -80px;}

    80%{margin-top: -40px;}
    90%{margin-top: -40px;}

    100%{margin-top: 0px;}
    
}


/*Despegable*/

#section{
    width: 600px;
    min-height: 50px;
    background-color: bisque;
    border-radius: 5px;
    margin: 40px auto;
    overflow: hidden;
}

.subapartado{
    width: 600px;
    min-height: 50px;
    background-color: burlywood;
}

article.titulo{
    width: 640px;
    height: 50px;
    background-color: rgb(69, 202, 69);
    border-bottom: 5px solid rgb(69, 202, 69);
    overflow: hidden;
}
p.titulo{
    width: 200px;
    margin-top: 10px;
    height: 30px;
    margin-left: 220px;
    border-radius: 40px;
    background-color: rgb(228, 195, 11);
    color: rgb(0, 0, 0);
    border: 0px;
    outline: none;
    font-size: 20px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-family: cursive;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    margin-bottom: 30px;
    
}
article.info{
    width: 640px;
    height: 0px;
    background-color: rgb(8, 20, 6);
    overflow: hidden;
    transition: height 0.5s;
    
}
p.info{
    margin: 15px;
    text-align: center;
    color: greenyellow;
}

section.subapartado:hover article.info{
    height: 200px;
}






/*Banner*/


#banner{
    width: 1000px;
    height: 200px;
    border: 5px solid red;
    margin: auto;
    background-image: url(../images/b01.jpg);
    background-size: 100% 100%;
    animation: cambio 10s infinite;
    margin-top: 10px;
}

@keyframes cambio {
    
    0%, 30%{
        background-image: url(../images/b01.jpg); 
        opacity: 1;
        border-color: green;
    }
    
        31%, 33%{opacity: 0.1;}

    34%, 65%{
            background-image: url(../images/b02.jpg); 
            opacity: 1;
            border-color: blue;
        }
    66%, 69%{opacity: 0.1;}

    70%, 96%{
        background-image: url(../images/b03.jpg); 
        opacity: 1;
        border-color: red;}
    97%, 100%{opacity: 0.1;}
    
}









